<h1>Songs</h1>
<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        
        <%= song.artist_name %>
        -
        <%= song.title %>
        
      <%= link_to song.category.name, artist_path(song.category) if song.category %>
      </a>
    </li>
  <% end %>
</ul>
